* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  background-color: var(--color-darkblue-alpha);
}
/* start header */
.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600;
  margin: 0 auto;
}
.container h1 {
  font-weight: 400;
}
.container .main-p {
  font-style: italic;
  margin: -1%;
  margin-bottom: 3%;
}
/* end header */
/* start survery form */
.survey-form {
  background-color: var(--color-darkblue);
  display: flex;
  flex-direction: column;
  padding: 5%;
  line-height: 200%;
}
.survey-form .label {
  display: flex;
}
.survey-form .input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.survey-form .main-label {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}
.survey-form .improve-label {
  font-weight: 400;
}
.survey-form span {
  font-size: 0.5em;
}
.input-trab {
  display: flex;
  align-items: center;
}
.input-trab label {
  padding-left: 8px;
}
.recommend input,
.improved input {
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
}
#submit {
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 20px;
  margin-top: 15px;
  font-size: 27px;
  font-weight: 400;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  border-color: transparent;
}
/* end survery form  */
